<% if user_signed_in? %>
<div id="action_panel">
  <%= render partial: "shared/action_panel", locals: { current_user: current_user } %>
</div>

<div id="user_data">
  <%= render partial: "user_data", locals: {
      games: @games,
      selected_game: @selected_game
    } %>
</div>
<% else %>
<div class="jumbotron">
  <h2>Track your tournament results</h2>
  <p>Sign in with Start.gg to sync your tournament history and track your performance.</p>
  <div class="cta-container">
    <%= link_to "Sign in with Start.gg", user_startgg_omniauth_authorize_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% end %>